#main p {
    font-size: 16px;
    width: 500px;
    height: 80px;
    background-color: blueviolet;
    margin: 10px;
}

#footer p {
    font-size: 13px;
    width: 500px;
    height: 80px;
    background-color: purple;
    margin: 10px;
}

li .redLink {
    color: red;
}

.article>p {
    color: red;
}

.content {
    font-size: 20px;
    color: rgb(41, 60, 167);
}