* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    vertical-align: baseline;
}

body {
    font-family     : Verdana, Arial, sans-serif;
    background-color: #f7f7f7;
}

#header {
    background-image: url(../img/orange.jpg) no-repeat center bottom;

}

#header h1 {
    font-size     : 12px;
    text-transform: uppercase;
    font-weight   : bold;
    padding       : 30px 30px 30px 10px;
    clear         : both;
}

#nav {
    background-color: #eee;
    border-top      : 1px solid #ccc;
    border-bottom   : 1px solid #ccc;
}

#nav li {
    float     : left;
    list-style: none;
}

#nav a {
    display        : block;
    color          : black;
    padding        : 10px 25px;
    text-decoration: none;
    border-right   : 1px solid #ccc;
}

#nav li:last-child a {
    border-right: none;
}

#nav a:hover {
    font-weight: bold;
}

#nav:after {
    content: " ";
    display: table;
    clear  : both;
}

.wrapper {
    background-color: #f7f7f7;
}

.aside h2 {
    font-size : 0.95em;
    margin-top: 15px;
}

.aside h3 {
    font-size : 0.85em;
    margin-top: 10px;
}

.aside p, .aside li {
    font-size : .75em;
    margin-top: 10px;
}

.aside li {
    list-style-type: none;
}

#sidebar1 {
    float  : left;
    width  : 20%;
    padding: 0 10px 0 20px;
}

#sidebar2 {
    float  : right;
    width  : 20%;
    padding: 0 20px 0 10px;
}

#article {
    background-color: #fafafa;
    border-left     : 1px solid #ccc;
    border-right    : 1px solid #ccc;
    margin-left     : 20%;
    margin-right    : 20%;
    padding         : 15px;
    width           : 60%;
}

#article:after {
    clear  : both;
    display: table;
    content: '';
}

#article h2 {
    font-size    : 1.3em;
    margin-bottom: 15px;
}

#article p {
    line-height  : 150%;
    margin-bottom: 15px;
}

#footer {
    border-top: 1px solid #ccc;
    font-size : .8em;
    text-align: center;
    padding   : 10px 10px 30px 10px;
}

#nav ul, #header h1, .wrapper, #footer p {
    max-width: 1200px;
    margin   : 0 auto;
}

.wrapper, #nav, #header, #footer {
    min-width: 768px;
}