h1, h2, h3, h4, p {
    color:blue;
}
div {
    width:500px; /* Ширина */
    height:200px; /* Высота */
    background-color: aqua;
    margin: 10px; /* определяет отступ на всех четырёх сторонах элементов */
}
.redBlock{
    background-color: red;
}
.blueBlock{
    background-color: blue;
}
#header {
    width: 500px;
    height: 80px;
    background-color: aquamarine;
}
#content {
    width: 500px;
    height: 180px;
    background-color: rgb(219, 96, 133);
}
#footer {
    width: 500px;
    height: 80px;
    background-color: rgb(39, 35, 36);
}
