.box-shadow {
    width: 600px;
    height: 400px;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(195, 230, 195);
    color: rgb(35, 61, 35);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 23px rgb(80, 126, 62);
}
h1 {
    color:rgb(45, 189, 93);
    font-size: 20pt; /* Размер шрифта в пунктах */
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}